@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');

/*
 font-family: "Outfit", sans-serif;
 font-family: "Poltawski Nowy", serif;
 */

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    /* Fixes font rendering in Safari */
    -moz-osx-font-smoothing: grayscale;
}

/* General Styling */
body {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Poltawski Nowy", serif;
}



nav, footer {
    background-color: #1C3369;
}

.nav-link{
    color: #fff;
    font-weight: 400;
}

.nav-link.extra-bold{
    font-weight: 900;
}

.navbar-toggler{
    box-shadow: none !important;
    border: none !important;
}

.banner{
    background-color: #001A57;
    color: #fff;
    text-align: center;
}

.banner-heading{
    font-size: 3.5rem;
}

.section-campaign {
    background-color: #001A57;
    color: #fff;
}

.section-campaign .campaign-text {
    font-size: 2rem;
}

.campaign-text h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.campaign-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    background-color: #944012;
}

.campaign-buttons a {
    background-color: #fff;
    color: #944012;
    border-radius: 30px;
    padding: 0px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 2rem;
    display: block;
    width: 220px;
    margin: auto;
    text-decoration: none;
    margin-bottom: 5px;
    border: 2px solid #fff !important;
    transition: 0.3s;
    max-width: 90%;
}

.campaign-buttons span {
    font-size: 2.75rem;
    line-height: 1.1;
}

.campaign-buttons a:hover {
    background-color: #944012;
    color: #fff;
}

.mobile-campaign img {
    width: 100%;
    border-radius: 0;
}


.img-box {
    height: 100%;
}

.object-fit-cover {
    object-fit: cover;
}


.donate-btn {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    background: #7197B2;
    border: 2px solid #7197B2;
    padding: 0.4rem 1.5rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.25rem;
    transition: 0.2s;
}

.donate-btn:hover {
    background-color: #004475;
}


.form-heading {
    color: #004475;
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
}

input.input-text {
    width: 100%;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #707070;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 1.5rem;
}

.checkbox-wrapper {
    display: flex;
    gap: 10px;
}

/* Base radio button style */
input.form-check-input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #707070;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    cursor: pointer;
    margin-top: .15em;
    cursor: pointer;
    position: relative;
    box-shadow: none !important;
    user-select: none;
}

.form-check-label {
    cursor: pointer;
}

/* Checked state with blue dot */
input.form-check-input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #001A57;
    /* dark blue */
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


.btn-submit {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    background: #944012;
    border: none !important;
    box-shadow: none !important;
    padding: 0.7rem 2rem;
    border-radius: 30px;
    line-height: 1.3;
    transition: 0.3s;
}


.text-blue {
    color: #001A57;
}

.issues-text {
    color: #707070;
}


.fb-link {
    color: #001A57;
    font-size: 1.25rem;
}

.pre-footer{
    background-color: #001A57;
    color: #fff;
}

.pre-footer h1{
    font-family: "Outfit", sans-serif;
}

@media (max-width: 992px) {}


@media (max-width: 767px) {}


@media (max-width: 576px) {}


@media (max-width: 476px) {}